/* Define variables with the syntax --var-name: value. Commonly done on :root (= <html>), but possible on any element */
:root {
    /* colors */

    --color-white: rgb(255,255,255);
    --color-black: rgb(0,0,0);

    --color-grey-1: rgb(100,100,100);
    --color-grey-2: rgb(120,120,120);
    --color-grey-3: rgb(150,150,150);
    --color-grey-4: rgb(170,170,170);
    --color-grey-5: rgb(190,190,190);
    --color-grey-6: rgb(210,210,210);

    --f-2-grey: #f2f2f2;
    --solitude: #ebecf0;
    --porcelain: #f1f2f4;
    --mercury: #e4e5e9;
    --mystic: #e5e7eb;
    --laventure: #a3b1c6;

    --turqwhy: #00c8c8;
    --system-color-blue: #007aff;
    --light-purple: #b8c8f7;
    --purplish: #7895e9;
    --purpley: #6675e1;
    --deep-purple: #514dd9;
    --dark-blue-grey: #121538;
    --dark-blue-grey-66: rgba(18, 21, 56, 0.66);

    --cinebook: #f7003d;
    --kfc: #c32132;
    --tomato: #f04728;
    --pumpkin-orange: #ff8900;
    --yellow-orange: #ffb800;
    
    /* borders */
    --border: .1rem silver solid;
    --border-radius-card-m: 18px;

    /* padding */
    --padding-card-m: 10px 15px;

    /* shadows */
    --shadow-card-neo: 9px 9px 18px 0 rgba(163, 177, 198, 0.5), -9px -9px 18px 0 rgba(255, 255, 255, 0.7), -4px -4px 8px 0 rgba(255, 255, 255, 0.25), 5px 5px 5px 0 rgba(163, 177, 198, 0.25);
    
    /* fonts */
    --family: Arial, Helvetica, sans-serif; 
    --variant: small-caps;
    --size: 1.5rem;
    
    --font: var(--variant) var(--size)/1.5 var(--family);
  }